AddType application/pdf .pdf

<IfModule mod_headers.c>
    <FilesMatch "\.pdf$">
        Header unset Content-Disposition
        Header set Content-Disposition "inline; filename=%{REQUEST_FILENAME}e" env=REQUEST_FILENAME
        Header set Content-Type "application/pdf"
    </FilesMatch>
</IfModule>
